%h4 Ratings Report
%div{:style => 'margin: 0px;  padding: 2px 10px;'}
	= form_for 'rating_report', :html => {:id => "rating", :class => :'form-horizontal'} do |f|
		%h5 
			= f.label 'Product_label', 'Select Product'
			= f.select :product_id, options_for_select(build_product_options, params[:product_id]), {}, :class => "validate[required]"
			%br 
			%br
			= f.submit "Report", :class => [:btn, :'btn-primary']
	#rating_result