
.product{
  background-color: #A4A875;
  .myrow{
    background-color: #A4A875;
  }
}

.rating{
  margin: 10px auto;
}

.location{
  background-color: #DD4B39;
  border-color: #96271a;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  padding: 10px 20px;
  margin: -4px 0px 0px 50px;
  float: left;
  color: white;
  text-shadow: 2px 1px #96271a;
  font-family: 'Donegal One', serif;
  font-size: 20px;
}

.details-box{
  padding: 25px 55px ;
  //float:left;
  //width: 60%;
  .name {
    font-family: 'Donegal One', 'Sanchez', Arial, Helvitica, Verdana;
    font-size: 24px;
    color: #222222;
  }
  .logo{
    position: relative;
    margin: -25px 20px 0px 0px;
    float: right;
  }
  .description{
  width: 60%;
  padding: 20px 0px;
  }
  .description_menu{
    width: 100%;
    scrollbar-arrow-color: green;  
    height:150px;
    overflow:auto;
    padding: 20px 0px;
  }
  .rating{
    h6 {
      margin-left: 5px;
    }
  }
}

.rel-product{
  img{
    float:left;
  }
  .actions{
    position: relative;
    top: -70px;
    right: 50px;
    float: right;
  }
}

ul{border:0; margin:0; padding:0;}

#pagination_referrals{
  .pagination{
    height: 10px;
  }
}

#pagination_referrals li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination_referrals a{
border:solid 1px #DDDDDD;
font-weight:bold;
margin-right:2px;
}
#pagination_referrals .previous_page,
#pagination_referrals .current,
#pagination_referrals .next_page,
#pagination_referrals em {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination_referrals .next a,
#pagination_referrals .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
#pagination_referrals .active{
color:#ff0084;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination_referrals a:link,
#pagination_referrals a:visited {
color:green;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination_referrals a:hover{
border:solid 1px #666666;
}


.menu-button {
  width:81px;
}

.menu-icon {
  width:100%;
  margin-left:7px;
  padding: 5px;
}

.menu-text {
  text-align:center;
  width:100%;
}

.menu-color {
  color: #000;
  font-weight: bold;
}